AZURE_AI_PROJECT_ENDPOINT=
AZURE_AI_MODEL_DEPLOYMENT_NAME=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_COSMOS_ENDPOINT=
AZURE_COSMOS_KEY=
COSMOS_GREMLIN_ENDPOINT=
AZURE_KEY_VAULT_URL=
APPLICATIONINSIGHTS_CONNECTION_STRING=
LOG_ANALYTICS_WORKSPACE_ID=
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=
